<nav class="navbar navbar-dark bg-dark">
  <a class="navber-brand" href="/">ReserveRoom<a>
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
        <%= current_user.name %>
      </a>
      <div class="dropdown-menu aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/rooms/new">施設の新規登録</a>
        <a class="dropdown-item" href="/rooms/own">予約済み一覧</a>
      </div>
    </li>
  <% else %>
    <%= link_to "ログイン",new_user_session_path %>
    <%= link_to "新規登録",new_user_registration_path%>
  <% end %>
</nav>